@import '../../../theme.scss';

.ssc_print_schedule{
    padding:20px;
    border: 1px solid #ddd;

    overflow-x: auto;

    .ssc_print_top_label{
        padding: 8px 15px;
        font-size: 11px;
    }

    @include printMedia{
        padding:15px 15px;
        border: none;
    }

    .print_schedule_table{
        width: 100%;
        border: 1px solid #DDD;
        border-collapse: collapse;
        font-size: 12px;
        
        thead{
            background-color: #eeee;
            
            th{
                padding:8px;
                border-bottom: 1px solid #ddd;
                position: relative;

                &:first-child{
                    &::before{
                        content: '';
                        position: absolute;
                        width: 0px;
                    }
                }

                &::before{
                    content: '';
                    position: absolute;
                    background-color: #bbb;
                    width: 1px;
                    height: 70%;
                    left: 0px;
                    top: 4px;
                }
            }
        }

        tbody{

            td{
                padding: 8px;
                text-align: center;
                border-bottom: 1px solid #ddd;
            }

            &:last-child{
                border-bottom: none;
            }

            .ssc_row_print_outdoor{
                background-color: #e6f7ff;
            }
        }

    }
}