$primary-color: blue ;
$secondary-color: grey ;
$font-color:  black;
$spacing20:  20px;
$spacing15:  15px;
$badgeColor:  red;

@mixin mobile {
    @media only screen and (max-width:768px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width:992px) {
        @content;
    }
}

@mixin deviceHeight799 {
    @media screen and (max-heigth:799px) {
        @content;
    }
}

@mixin printMedia {
    @media print {
        @content;
    }
}

@mixin customScroll (){
    ::-webkit-scrollbar{
        @include tablet(){
            background-color: #ddd;
            width: 10px;
            border-radius: 0px 3px 3px 0px;
        }
    }
    ::-webkit-scrollbar-thumb{
        @include tablet(){
            background-color: #aaa;
            border-radius: 5px 3px 3px 5px;
        }
    }
}

.ssc_text_field{
    height: 40px!important;
}